[submodule "neurocnl"]
	path = neurocnl
	url = ../neurocnl.git
[submodule "Neuro-Dream-Hand"]
	path = Neuro-Dream-Hand
	url = ../Neuro-Dream-Hand.git
[submodule "Neurobench"]
	path = Neurobench
	url = ../Neurobench.git
[submodule "Neurosim"]
	path = Neurosim
	url = ../Neurosim.git
[submodule "Neurosense"]
	path = Neurosense
	url = ../Neurosense.git
[submodule "Neurochip"]
	path = Neurochip
	url = ../Neurochip.git
[submodule "Neurohub"]
	path = Neurohub
	url = ../Neurohub.git
