[submodule "neurocnl"]
	path = neurocnl
	url = https://github.com/Completed-Spoon-6/neurocnl
[submodule "Neuro-Dream-Hand"]
	path = Neuro-Dream-Hand
	url = https://github.com/Completed-Spoon-6/Neuro-Dream-Hand
[submodule "Neurobench"]
	path = Neurobench
	url = https://github.com/Completed-Spoon-6/Neurobench
[submodule "Neurosim"]
	path = Neurosim
	url = https://github.com/Completed-Spoon-6/Neurosim
[submodule "Neurosense"]
	path = Neurosense
	url = https://github.com/Completed-Spoon-6/Neurosense
[submodule "Neurochip"]
	path = Neurochip
	url = https://github.com/Completed-Spoon-6/Neurochip
[submodule "Neurohub"]
	path = Neurohub
	url = https://github.com/Completed-Spoon-6/Neurohub.git
